//base
@import "./base/reset";
@import "./base/vars";
@import "./base/base";

//blocks
@import "./blocks/login";
@import "./blocks/app";
@import "./blocks/dashboard";
@import "./blocks/employeeDetail";
@import "./blocks/workerPage";
@import "./blocks/mail-detail";
